@model List<GamingTech.Web.Models.Product.Accessory>
@using GamingTech.Domain.Enums
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- NAVIGATION -->
<div class="section">
    <div>
        <nav id="navigation">
            <!-- container -->
            <div class="container">
                <!-- responsive-nav -->
                <div id="responsive-nav">
                    <!-- NAV -->
                    <ul class="main-nav nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="@Url.Action("ProductsByCategory", "Home", new { category = (int)PCategory.Keyboard })">Keyboards</a></li>
                        <li><a href="@Url.Action("ProductsByCategory", "Home", new { category = PCategory.Laptop })">Laptops</a></li>
                        <li><a href="@Url.Action("ProductsByCategory", "Home", new { category = PCategory.Headphone })">Heaphones</a></li>
                        <li><a href="@Url.Action("ProductsByCategory", "Home", new { category = PCategory.Mouse })">Mouses</a></li>
                    </ul>
                    <!-- /NAV -->
                </div>
                <!-- /responsive-nav -->
            </div>
            <!-- /container -->
        </nav>
        <!-- /NAVIGATION -->
        <!-- Section -->
        <div class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">

                    <div class="col-md-12">
                        <div class="section-title text-center">
                            <h3 class="title">Related Products</h3>
                        </div>
                    </div>

                    <!-- product -->
                    @foreach (var product in Model)
                    {
                        <div class="col-md-3 col-xs-6">
                            <div class="product">
                                <div class="product-img">
                                    <img src="@product.ImageURL" alt="">
                                </div>
                                <div class="product-body">
                                    @*<p class="product-category">@product.Category</p>*@
                                    <h3 class="product-name"><a href="#">@product.Name</a></h3>
                                    <h4 class="product-price">
                                        MDL @product.Price.ToString("F2")
                                        @*<del class="product-old-price">@$@product.OldPrice.ToString("F2")</del>*@
                                    </h4>
                                    @*<div class="product-rating">
                                        @for (int i = 1; i <= 5; i++)
                                        {
                                            if (i <= product.Rating)
                                            {
                                                <i class="fa fa-star"></i>
                                            }
                                            else
                                            {
                                                <i class="fa fa-star-o"></i>
                                            }
                                        }
                                    </div>*@
                                    <div class="product-btns">
                                        <button class="add-to-wishlist" data-product-id="@product.Id">
                                            <i class="fa @(product.IsFavorite ? "fa-heart text-danger" : "fa-heart-o")"></i>
                                            <span class="tooltipp">@(product.IsFavorite ? "remove from wishlist" : "add to wishlist")</span>
                                        </button>
                                        <button onclick="location.href='@Url.Action("ProductDetails", "Accessory", new { id = product.Id })'" class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                                    </div>
                                </div>
                                <div class="add-to-cart">
                                    <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                                </div>
                            </div>
                        </div>
                    }
                    <!-- /product -->

                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
    </div>
    <!-- /Section -->
    @section Scripts {
        <script>
            $(document).on('click', '.add-to-wishlist', function () {
                var button = $(this);
                var productId = button.data('product-id');
                var icon = button.find('i');

                $.ajax({
                    url: '/Accessory/AddToWishlist',
                    method: 'POST',
                    data: { productId: productId },
                    success: function (response) {
                        if (response.status === 'added') {
                            icon.removeClass('fa-heart-o').addClass('fa-heart text-danger');
                        } else if (response.status === 'removed') {
                            icon.removeClass('fa-heart text-danger').addClass('fa-heart-o');
                        }
                    },
                    error: function () {
                        alert("Something went wrong!");
                    }
                });
            });
        </script>

    }
